.business-cta-div{
    z-index: 2;
    & .business-cta-header{
        & h1{
            font-size: 40px;
            width: 490px;
            font-family: 'Montserrat', sans-serif;
            line-height: 41px;
            padding-bottom: 20px;
        }
        & .header-underline{
            height: 6px;
            width: 100px;
            background-color: #707070;
            border-radius: 10px;
        }
    }
    & .business-cta-description{
        width: 490px;
        padding-top: 20px;
        & p{
            font-family: 'Montserrat', sans-serif;
            font-family: 18px;
            font-family: 400;
            width: 58%;
            color: #777777;
        }
    }
    & .business-cta{
        width: 490px;
        display: flex;
        justify-content: flex-start;
        padding-top: 20px;
    }
}