
  
    <nav class="d-flex w-100 position-fixed" [class.nav_effect]="header_variable">
        <div class="nav-div d-flex" [class.header_effect]="header_variable">
            <a class="navbar-brand" href="#"><img class="div nav-logo" src="../../../assets/logo@2x.png" alt="open-financial"></a>
            <div class="nav-links d-flex">
                <ul class="nav-links d-flex">
                    <li>Product</li>
                    <li>Solutions</li>
                    <li>Pricing</li>
                </ul>
                <div class="btn-div d-flex justify-content-center align-items-center">
                    <app-login-btn></app-login-btn>
                    <app-nav-cta></app-nav-cta>
                </div>
            </div>
        </div>
      </nav>  
    

