.business-finance-bg{
 
        width: 280px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 30px #2321321F;
        & .img-icond-div{
            padding: 20px 20px;
            & img{
                width: 65px;
                height: 65px;
            }
        }
        & .card-title{
            padding: 0px 20px;
                font-size: 15px;
                line-height: 19px;
                font-family: 'Montserrat', sans-serif;
                font-family: 600;
        }
        & .card-description{
            padding: 5px 20px 20px 20px;
            p{
                font-size: 15px;
                line-height: 19px;
                font-family: 'Montserrat', sans-serif;
                font-family: 600;
                margin: 0px;
            }
        }
}