<div class="outer-div-img-card d-flex flex-column position-relative">
    <img class="small-circle position-absolute" src="../../../../assets/blob-small.svg" alt="">
    <div class="img-card-header d-flex flex-column">
        <h1>
            We make it Super Simple
        </h1>
        <div class="underline-div"></div>
    </div>
    <div class="img-card-div">
        <img class="img-card" src="./../../../../assets/collect_img-video/collect_img-video@2x.png">
    </div>
    <img class="left-dots position-absolute" src="../../../../assets/accounting_dots.svg">
</div>